*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/kotlinc.xml
/.idea/AndroidProjectSystem.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/material_theme_project_new.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.salive